body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #44444e;
    cursor: default;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper .col {
    display: flex;
}

.wrapper .col .side-bar-left {
    width: 15%;
}

.wrapper .col .side-bar-left .col-1 {
    margin-bottom: 5px;
}

.wrapper .col .side-bar-left .col-1 .logo {
    display: flex;
    align-items: center;
    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 16px;
    gap: 5px;
}

.wrapper .col .side-bar-left .col-2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(41, 38, 38, 0.2);
    padding-bottom: 10px;
    gap: 5px;
}

.wrapper .col .side-bar-left .col-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper .col .side-bar-left .col-2 p,
.wrapper .col .side-bar-left .col-3 p {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50px;
}

.wrapper .col .side-bar-left .col-2 p:hover,
.wrapper .col .side-bar-left .col-3 p:hover {
    background: linear-gradient(
        to left,
        rgb(253, 207, 250, 0.01),
        rgb(253, 207, 250, 0.2)
    );
}

.wrapper .col .main-content {
    width: 100%;
    background: linear-gradient(
        to top,
        rgb(215, 143, 238, 0.01),
        rgb(253, 207, 250, 0.5)
    );
    padding-left: 5pc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .col .main-content .tab-content p {
    font-weight: 600;
    font-size: 24px;
    color: #4e56c0;
}

.wrapper .col .main-content .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.wrapper .col .main-content .content,
.wrapper .col .main-content .content .mid-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.wrapper .col .main-content .content .col-1,
.wrapper .col .main-content .content .col-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .col .main-content .content .col-3 {
    display: flex;
    gap: 10px;
}

.wrapper .col .main-content .content .card {
    width: 200px;
    height: 110px;
    background-color: white;
    border-radius: 15px;
}

.wrapper .col .main-content .content .card .row-1 {
    display: flex;
    justify-content: space-between;
    height: 42px;
}

.wrapper .col .main-content .content .card .row-2 {
    display: flex;
    flex-direction: column;
}

.wrapper .col .main-content .content .card .row-2 p.indicator-order {
    font-size: 25px;
    margin: 0 20px 0 20px;
}

.wrapper .col .main-content .content .card .row-2 p.chance-order {
    margin: 7px 20px 0 20px;
    font-size: 12px;
}

.wrapper .col .main-content .content .card .row-2 p.chance-order svg {
    margin: 0;
    margin-right: 5px;
}

.wrapper .col .main-content .content .card .row-2 p.trending-up,
.wrapper .col .main-content .content .card .row-2 svg.trending-up {
    color: green;
}

.wrapper .col .main-content .content .card .row-2 p.trending-down,
.wrapper .col .main-content .content .card .row-2 svg.trending-down {
    color: red;
}

.wrapper .col .main-content .content .card-heigth {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 230px;
    background-color: white;
    border-radius: 15px;
}

.wrapper .col .main-content .content .col-3 .card-heigth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper .col .main-content .content .col-3 .card-heigth .row-1 {
    height: 45px;
}

.wrapper .col .main-content .content .col-3 .card-heigth .row-1 p {
    margin-bottom: 5px;
}

.wrapper .col .main-content .content .col-3 .card-heigth .row-2 p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper .col .main-content .content .col-3 .card-heigth .row-2 span {
    margin: 0px 20px 0px 20px;
    font-weight: 600;
}

.wrapper .col .main-content .content .col-3 .card-heigth .row-3 .chart-wrapper {
    display: flex;
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    justify-content: space-evenly;
}

.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-2
    canvas {
    width: 80px !important;
    height: 80px !important;
}

.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1
    #legend-container-users
    ul,
.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1
    #legend-container-subscriptions
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1
    #legend-container-users
    li,
.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1
    #legend-container-subscriptions
    li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 8px;
}
.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1
    #legend-container-users
    li
    span,
.wrapper
    .col
    .main-content
    .content
    .col-3
    .card-heigth
    .row-3
    .chart-wrapper
    .col-1
    #legend-container-subscriptions
    li
    span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border-radius: 3px;
}

.wrapper .col .main-content .content .card p,
.wrapper .col .main-content .content .card-heigth p,
.wrapper .col .main-content .mid-content .col-1 .card-width p,
.wrapper .col .main-content .mid-content .col-2 .row-2 .card-width p {
    margin: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #44444e;
}

.wrapper .col .main-content .content .card svg {
    margin: 20px;
    color: #4e56c0;
}

.wrapper .col .main-content .mid-content .col-1 .card-width,
.wrapper .col .main-content .mid-content .col-2 .row-2 .card-width {
    background-color: white;
    width: 410px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.wrapper .col .main-content .mid-content .col-1 .card-width .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown {
    height: 20px;
    border: none;
    margin: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown
    .selected {
    margin-bottom: 5px;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown
    .selected
    svg {
    pointer-events: none;
    cursor: pointer;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown
    .dropdown-items {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    padding: 5px;
    transition: max-height 0.2s ease;
    opacity: 0;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown.open
    .dropdown-items {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    opacity: 1;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown.open
    .dropdown-items
    div {
    margin-bottom: 5px;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown.open
    .dropdown-items
    div:hover {
    opacity: 0.8;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-1
    .select-dropdown
    div {
    border: none;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-2
    .chart-wrapper.sales-dynamics {
    display: flex;
    justify-content: center;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-1
    .card-width
    .row-2
    .chart-wrapper.sales-dynamics
    canvas {
    width: 380px !important;
    height: 135px !important;
}

.wrapper .col .main-content .mid-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.wrapper .col .main-content .mid-content .col-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .col .main-content .mid-content .col-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .col .main-content .mid-content .col-2 .row-1 {
    display: flex;
    gap: 10px;
}

.wrapper .col .main-content .mid-content .col-2 .row-1 .card {
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-1
    .card
    .row-1
    .chart-container-invoices {
    width: 45px;
    height: 45px;
    position: relative;
    margin: 20px auto auto;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-1
    .card
    .row-1
    .chart-container-received {
    width: 45px;
    height: 45px;
    position: relative;
    margin: 20px auto auto;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-1
    .card
    .row-2
    p.title-invoice {
    margin: 0 20px 5px 20px;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.7;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-1
    .card
    .row-2
    p.indicator-invoice {
    margin: 0 20px 0 20px;
    font-size: 22px;
    font-weight: 600;
}

.wrapper .col .main-content .mid-content .col-2 .row-1 .card svg {
    margin: 20px;
    color: #4e56c0;
}

.wrapper .col .main-content .mid-content .col-2 .row-2 {
    width: 100%;
}

.wrapper .col .main-content .mid-content .col-2 .row-2 .card-width .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .col .main-content .mid-content .col-2 .row-2 .card-width .row-1 svg {
    margin: 20px;
    color: #4e56c0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-2
    .card-width
    .row-2
    .table-header-container {
    margin: 20px 0px 20px 0px;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-2
    .card-width
    .row-2
    .table-grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 5px;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-2
    .card-width
    .row-2
    .table-grid-5
    .table-header {
    font-size: 10px;
    text-align: center;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-2
    .card-width
    .row-2
    .table-grid-5
    .table-item {
    display: flex;
    margin: 10px 0;
    font-size: 10px;
    font-weight: 600;
    color: #44444e;
    margin: 10px 0px 10px 10px;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-2
    .card-width
    .row-2
    .table-grid-5
    .table-item
    img {
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.wrapper
    .col
    .main-content
    .mid-content
    .col-2
    .row-2
    .card-width
    .row-2
    .table-grid-5
    .table-item
    p {
    display: inline;
    vertical-align: middle;
    margin: 0;
    font-size: 10px;
    margin: auto;
}
